@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

section {
  scroll-snap-align: start;
  position: relative;
  height: 100vh;
}

body {
  @apply bg-background text-text font-source w-screen;
}

h1 {
  @apply text-cursor font-extrabold text-5xl pb-10;
}

h2 {
  @apply font-bold;
}

header {
  z-index: 1;
}

section {
  @apply flex justify-center items-center px-20;
}

main {
  @apply max-w-7xl m-auto;
}

a {
  @apply hover:text-cursor;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
      font-family: SourceCodePro;
  }
}