/* Navigation Dots Bar */
.dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0.5rem;
  position: relative;

  @apply bg-text;
}

.dot-label {
  display: none;
  position: absolute;
  top: 50%; /* Center vertically */
  right: 100%; /* Position the label to the left of the dot */
  transform: translateY(-50%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
  transition: all 0.3s;
}

.dot:hover {
  @apply bg-lightslategrey scale-125;
}

.dot.active {
  @apply bg-cursor scale-125;
}

.dot.active .dot-label,
.dot:hover .dot-label {
  display: block; /* Show label when dot is active or hovered */
  @apply capitalize;
}

.dot:hover .dot-label {
  @apply text-lightslategrey;
}

.dot.active .dot-label {
  @apply text-cursor;
}
